<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}
            <title>Foodfy</title>
        {% endblock title %}

        <link rel="stylesheet" href="/styles/main-content.css">
        {% block styles %}{% endblock styles %}
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/responsive.css">
        
    </head>

    <body>
        <div class="page-home">
            <div class="page-header">
                <div class="page-logo">
                    <a href="/">
                        <img src="/assets/logo.png" alt="Foodfy">
                    </a>
                </div>
                <div class="page-links">
                    <a href="/about" id="about">Sobre</a>
                    <a href="/recipes" id="recipes">Receitas</a>
                </div>
            </div>

            {% block content %}{% endblock content %}

        </div>

        <div class="footer-box">
        <footer>
            <h3>Todos direitos reservados, receitas Foodfy</h3>
        </footer>
        </div>
        
        {% block script %}{% endblock script %}
    </body>
</html>