{% extends "layout.njk" %}

{% block title %}
<title>Erro :(</title>
{% endblock title %}


{% block content %}
<div class="error">
        <img src="/assets/x.svg" alt="Erro">
        <h1>Aconteceu um erro :(</h1>
        <h2>Tem certeza que essa é a página que procura?</h2>
</div>
{% endblock content %}