#about {
    font-weight: bold;
    border-bottom: 2px solid #444444;
}

.page-about{
    font-family: Roboto;
    margin-top: 50px;
}

.about-1 h1 {
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 20px;
}

.about-2 h2,
.about-3 h2 {
    font-size: 20px;
    color: #111111;
    margin-top: 30px;
    margin-bottom: 20px;
}

.about-1 p,
.about-2 p,
.about-3 p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    font-weight: 400;
    text-align: justify;
}
